// colors 

$white: #fff;
$platinum: #e8e7e7;
$lightgray: #d1d1d1;

$fuzzywyzzy: #e56353;
$ruddypink:#d76c69;
$spanishpink: #ecbcba;

$Eerieblack:#121619;
$Raisinblack:#222323;
$Nickel:#6C6E70;

// fonts 

$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;



// font size 
$xx-large:70px;
$x-large: 30px;

$regular: 400;
$black-font: 900;

// border redondeado
$roundedBorder: 30px;

// mediaQuery
$breakpoint-small: 767px;